
.DS_Store

# cromwell's stuff
cromwell-input/*

# miniwdl's stuff
_LAST
*ClockworkRefPrep/*
*ClockworkWalkthrough/*
*/aaa_test_files/tb/H37Rv_version_3_refgenome_NC_000962.3.fasta
*/aaa_test_files/tb/Ref.download.zip
Cromwell.stderr.txt
Cromwell.stdout.txt
