
.DS_Store

# cromwell's stuff
cromwell-input/*

# miniwdl's stuff
_LAST
*Clockworkref_prep/*
*ClockworkWalkthrough/*
*/aaa_test_files/tb/H37Rv_version_3_refgenome_NC_000962.3.fasta
*/aaa_test_files/tb/Ref.download.zip
Cromwell.stderr.txt
Cromwell.stdout.txt
Ref.download/NC_000962.1.fa
Ref.download/NC_000962.2.fa
Ref.download/NC_000962.3.fa
Ref.download/remove_contam.fa.gz
Ref.download/remove_contam.tsv
Documents/aaa_test_files/tb/terra_outs/Ref.H37Rv.zip
Documents/aaa_test_files/tb/terra_outs/Ref.remove_contam.zip
references/Ref.H37Rv.tar
references/Ref.remove_contam.tar
